*{
    margin: 0;
    padding: 0;
    top:0;
}
body{
    background-color: hsl(185, 75%, 39%);
 
}
.contenedor-principal{
    width: 530px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    
}
.cuadro-superior{
    position: relative;
    top: -80px;
    display: flex;
    z-index: 2;
  
    
}     
.cuadro-superior img{
    border-radius: 15px 15px 0 0 / 15px 15px 0 0  ;
   
}
.cuadro-medio{
    width: 350px;
    height: 224px;
    top:291px;
    position: absolute;
    display: flex;
    background-color:white;
    border-radius: 0 0 15px 15px  /0 0 15px 15px ;
    z-index: 3;
   
}
.cuadro-inferior{
    width: 350px;
    height: 80px;
    top:424px;
    position: absolute;
    display: grid;
    z-index: 3;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    border-top: 1px solid  hsl(0, 0%, 59%);
} 
.img-perfil img{
    border-radius: 50%;
    border:4px solid white;
    position: absolute;;
    z-index: 4;
    left:10px;
    display:flex;
    left:215px;
    top:240px;
}
.info-usuario .nombre{
    position: absolute;;
    z-index: 4;
    top:355px;
    left:205px;
    display:flex;
    font-size: 18px;
}
.info-usuario span{
    padding-left: 5px;
}
.info-usuario .ciudad{
    position: absolute;;
    z-index: 4;
    top:363px;
    left:232px;
    display:flex;
    font-size: 18px;
}
.cuadro-inferior{
    width: 350px;
    position:absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    
}
.cuadro-inferior ul{
    list-style: none;
    margin: 10px;
    display: flex;
}
.cuadro-inferior ul li{
    margin:0 35px;
    justify-content: center;
}
.cuadro-inferior ul li span{
    justify-content: center;
    font-size: 14px;
}
.circulo-superior svg{
    position: absolute;;
    top:-590px;
    left:-255px;
    display:flex;
    z-index: 1;
}
.circulo-inferior svg{
    position: absolute;
    top:360px;
    right: 0px;
    display:flex;
    z-index: 1;
}
